In [ ]:
!pip install pandas==0.25.0

In [1]:
import pandas as pd

In [2]:
csv = pd.read_csv('~/Downloads/Storenvy-the-rookery-press-All-Orders-February-18-2023.csv', encoding='ISO-8859-1')

In [3]:
csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 35 columns):
Order #                 76 non-null int64
Date                    76 non-null object
Product Name            76 non-null object
Product Quantity        76 non-null int64
Variant Name            76 non-null object
Variant SKU             0 non-null float64
Product Price           76 non-null object
Product Discount        76 non-null object
Subtotal                56 non-null object
Shipping                56 non-null object
Tax                     56 non-null object
Total                   56 non-null object
Handling Fee            56 non-null object
Commission Fee          56 non-null object
Shipping Class          76 non-null object
Shipping Status         74 non-null object
Payment Status          76 non-null object
Payment Processed At    74 non-null object
Shipped At              7 non-null object
Discount Name           0 non-null float64
Discount Description    0 non-null float64
Discount Amount         56 non-null object
Email                   76 non-null object
Phone Number            61 non-null object
First Name              76 non-null object
Last Name               76 non-null object
Address 1               76 non-null object
Address 2               35 non-null object
City                    76 non-null object
Locale                  74 non-null object
Locale Abbreviation     74 non-null object
Postal Code             76 non-null object
Country                 76 non-null object
Country ISO             76 non-null object
Customer Note           15 non-null object
dtypes: float64(3), int64(2), object(30)
memory usage: 20.9+ KB

In [4]:
# gpby = csv.groupby(by=['Order #','Product Name','Address','Shipping Status'], axis=0)[['Product Name', 'Product Quantity', 'Shipping Status']].sum()

In [134]:
csv[['Order #','Product Name', 'Date', 'Address', 'Name', 'Shipping Status', 'Product Quantity',]].head()

,Order #,Product Name,Date,Address,Name,Shipping Status,Product Quantity
0,21429567,"The Power of the People is the Force of Life, ...",01/01/2023 11:37:02 AM,"809 Edgebrook Drive, apartment, 27 60115 dekal...",jordan de anda,Shipped,1
1,21429567,"Reflections on Victor Serge's ""What Everyone S...",01/01/2023 11:37:02 AM,"809 Edgebrook Drive, apartment, 27 60115 dekal...",jordan de anda,Shipped,1
2,21429567,30 Seconds To Zero: The Crusader Collection,01/01/2023 11:37:02 AM,"809 Edgebrook Drive, apartment, 27 60115 dekal...",jordan de anda,Shipped,1
3,21437570,On Organizing Urban Guerilla Units by Field Ma...,01/11/2023 8:15:52 PM,NaN,Klay Hill,Shipped,4
4,21445305,30 Seconds To Zero: The Crusader Collection,01/23/2023 10:43:22 PM,NaN,karen marshall,Shipped,4

In [92]:
product_counts = \
csv[['Order #','Product Name', 'Date', 'Address', 'Name', 'Shipping Status', 'Product Quantity',]]\
.set_index([csv.index, 'Order #', 'Date', 'Address', 'Name', 'Shipping Status','Product Name'])['Product Quantity'].unstack()

In [133]:
product_counts.reset_index().groupby(by=['Order #'])[csv['Product Name'].unique()].sum()

Product Name,"The Power of the People is the Force of Life, a political statement by the George Jackson Brigade","Reflections on Victor Serge's ""What Everyone Should Know About State Repression"" by James Yaki Sayles",30 Seconds To Zero: The Crusader Collection,On Organizing Urban Guerilla Units by Field Marshall Don Cox,"Collected Works of the Black Liberation Army, Vol. I"
Order #,,,,,
21429567,1.0,1.0,1.0,0.0,0.0
21437570,0.0,0.0,0.0,4.0,0.0
21445305,4.0,0.0,4.0,4.0,0.0
21454456,0.0,0.0,0.0,0.0,1.0
21454532,1.0,0.0,0.0,0.0,1.0
21454536,0.0,0.0,0.0,0.0,1.0
21454545,0.0,0.0,0.0,0.0,1.0
21454564,0.0,0.0,0.0,0.0,1.0
21454568,0.0,0.0,0.0,0.0,1.0
21454629,0.0,0.0,0.0,0.0,1.0
21454648,0.0,0.0,1.0,0.0,1.0
21454653,0.0,0.0,0.0,0.0,3.0
21454702,0.0,0.0,0.0,0.0,1.0
21454704,0.0,0.0,0.0,1.0,1.0
21454975,0.0,0.0,0.0,0.0,1.0
21454979,0.0,0.0,0.0,0.0,1.0
21455324,0.0,0.0,0.0,1.0,1.0
21455662,1.0,0.0,0.0,0.0,1.0
21456051,0.0,0.0,0.0,0.0,1.0
21456604,0.0,0.0,0.0,0.0,1.0
21456606,0.0,0.0,0.0,0.0,1.0
21457265,0.0,0.0,0.0,0.0,1.0
21458026,0.0,0.0,0.0,0.0,1.0
21458209,0.0,0.0,0.0,0.0,1.0
21458615,0.0,0.0,0.0,0.0,1.0
21458700,0.0,0.0,0.0,0.0,1.0
21458748,0.0,0.0,0.0,0.0,1.0
21458755,0.0,0.0,0.0,0.0,1.0
21458759,0.0,0.0,0.0,0.0,1.0
21458776,0.0,0.0,0.0,0.0,1.0
21458790,0.0,0.0,0.0,0.0,1.0
21458939,1.0,1.0,1.0,1.0,1.0
21458953,0.0,0.0,0.0,0.0,1.0
21458980,0.0,0.0,0.0,0.0,1.0
21458993,0.0,0.0,0.0,0.0,1.0
21459020,0.0,0.0,0.0,0.0,1.0
21459039,0.0,0.0,0.0,1.0,0.0
21459081,0.0,0.0,0.0,0.0,1.0
21459101,0.0,0.0,0.0,0.0,1.0
21459387,0.0,0.0,0.0,0.0,1.0
21459502,0.0,0.0,0.0,0.0,1.0
21459593,1.0,1.0,1.0,1.0,1.0
21459659,0.0,0.0,0.0,0.0,1.0
21459720,0.0,1.0,0.0,1.0,0.0
21459760,0.0,0.0,0.0,0.0,1.0
21459794,0.0,0.0,0.0,0.0,1.0
21459815,0.0,0.0,0.0,0.0,1.0
21459816,0.0,0.0,0.0,0.0,1.0
21459959,0.0,0.0,0.0,0.0,1.0
21459976,0.0,0.0,0.0,0.0,1.0
21460000,0.0,0.0,0.0,0.0,1.0
21460223,0.0,0.0,1.0,1.0,1.0
21460227,0.0,0.0,0.0,0.0,1.0
21460270,0.0,0.0,0.0,0.0,1.0
21460287,0.0,0.0,0.0,0.0,1.0
21460314,0.0,0.0,0.0,0.0,1.0

In [76]:
# csv[['Order #','Product Name', 'Date', 'Address', 'Name', 'Shipping Status', 'Product Quantity',]].pivot_table(values='Product Quantity',
#                                                                                                                index=csv[['Order #','Shipping Status','Date','Name','Address']],
#                                                                                                                columns=['Product Name'],
#                                                                                                                aggfunc='first'
#                                                                                                               ).reset_index()

# dropna
# observed

Product Name,Order #,Shipping Status,Date,Name,Address,30 Seconds To Zero: The Crusader Collection,"Collected Works of the Black Liberation Army, Vol. I",On Organizing Urban Guerilla Units by Field Marshall Don Cox,"Reflections on Victor Serge's ""What Everyone Should Know About State Repression"" by James Yaki Sayles","The Power of the People is the Force of Life, a political statement by the George Jackson Brigade"
0,21429567,Shipped,01/01/2023 11:37:02 AM,jordan de anda,"809 Edgebrook Drive, apartment, 27 60115 dekal...",1.0,NaN,NaN,1.0,1.0
1,21454456,Open,02/08/2023 2:44:34 PM,Emmanuel Kizito,"4124 12th Avenue South 55407 Minneapolis, Minn...",NaN,1.0,NaN,NaN,NaN
2,21454536,Open,02/08/2023 5:55:58 PM,Andrew Mausert-Mooney,"2157 W. Coulter St., 2R 60608 Chicago, Illinoi...",NaN,1.0,NaN,NaN,NaN
3,21454545,Open,02/08/2023 6:06:59 PM,Darius Simpson,"2341 Hughes Ave. Unit C Oakland, California 94...",NaN,1.0,NaN,NaN,NaN
4,21454568,Open,02/08/2023 7:21:11 PM,Colin Gl,"2200 Standiford ave Apt 157 Modesto, Californi...",NaN,1.0,NaN,NaN,NaN
5,21454648,Open,02/08/2023 10:54:52 PM,Eric Martinez,503 George Bush Dr W Apt. 1223 College Station...,1.0,1.0,NaN,NaN,NaN
6,21454702,Open,02/09/2023 2:28:24 AM,Carlos Rosario,"370 Brook Ave Apt 4C Bronx, New York 10454 Un...",NaN,1.0,NaN,NaN,NaN
7,21454704,Open,02/09/2023 2:38:14 AM,Carlos Rosario,"370 Brook Ave Apt 4C Bronx, New York 10454 Un...",NaN,1.0,1.0,NaN,NaN
8,21454979,Open,02/09/2023 3:59:59 PM,Tivona ..,"364 7th street apt. 3 jersey city, New Jersey ...",NaN,1.0,NaN,NaN,NaN
9,21455662,Open,02/10/2023 3:23:40 PM,Brent Richardson,"3909 E Fourth Plain Blvd Unit 26 Vancouver, Wa...",NaN,1.0,NaN,NaN,1.0
10,21457265,Open,02/13/2023 6:07:54 PM,Cullen Allard,"2721 Stevens Ave. Apartment 4 Minneapolis , Mi...",NaN,1.0,NaN,NaN,NaN
11,21458209,Open,02/15/2023 12:38:29 PM,Charisse Burden-Stelly,"3439 Woodward Ave Apt 426 Detroit, Michigan 4...",NaN,1.0,NaN,NaN,NaN
12,21458615,Open,02/15/2023 5:28:00 PM,nate joseph,"73000 verano rd apt d300 irvine, California 92...",NaN,1.0,NaN,NaN,NaN
13,21458700,Open,02/15/2023 6:38:38 PM,Daniel Brooks,"2731 Timberly Drive Apt 1B Indianapolis , Indi...",NaN,1.0,NaN,NaN,NaN
14,21458755,Open,02/15/2023 7:16:22 PM,Jeremy Aponte,"34 Rexhame St Apt 2 Roslindale , Massachusetts...",NaN,1.0,NaN,NaN,NaN
15,21458980,Open,02/15/2023 11:24:53 PM,Levi Harrison Clinton,"6968 N Ashland Blvd #2W Chicago, Illinois 606...",NaN,1.0,NaN,NaN,NaN
16,21458993,Open,02/15/2023 11:45:13 PM,Rigoberto Gandara,"320 Bridgewater Way Unit 8 Gardena, California...",NaN,1.0,NaN,NaN,NaN
17,21459039,Open,02/16/2023 2:22:40 AM,Emmanuel Kizito,"4124 12th Avenue South 55407 Minneapolis, Minn...",NaN,NaN,1.0,NaN,NaN
18,21459387,Open,02/16/2023 12:30:35 PM,Logan Laxague,"1383 Falstaff Lane 89410 Gardnerville, Nevada ...",NaN,1.0,NaN,NaN,NaN
19,21459659,Open,02/16/2023 6:47:55 PM,Dortanyia McIntyre,"1645 Carol Sue Ave Apt 106 Gretna, Louisiana 7...",NaN,1.0,NaN,NaN,NaN
20,21459815,Open,02/16/2023 10:46:06 PM,Isaac Ortega,"296 Schaefer St Apt 3 Brooklyn, New York 11237...",NaN,1.0,NaN,NaN,NaN
21,21459816,Open,02/16/2023 10:48:47 PM,Jawan Grant,"5150 N Valentine Ave Apt 115 Fresno, Californi...",NaN,1.0,NaN,NaN,NaN
22,21459976,Open,02/17/2023 8:54:11 AM,Michelle Esther O'Brien,"45 Martense St Apt. 5K Brooklyn, New York 1122...",NaN,1.0,NaN,NaN,NaN
23,21460223,Open,02/17/2023 3:47:35 PM,Julian Gonzalez,"35-09 93rd St 2nd Fl Jackson Heights, New York...",1.0,1.0,1.0,NaN,NaN
24,21460227,Open,02/17/2023 3:52:21 PM,Liz Lyke,"1244 Chena Ridge Rd 99709 Fairbanks, Alaska 99...",NaN,1.0,NaN,NaN,NaN
25,21460314,Open,02/17/2023 5:54:59 PM,Jay Redlich,"4043 Buckingham Road Apt 4 Los Angeles, Califo...",NaN,1.0,NaN,NaN,NaN

In [60]:
csv['Name'] = csv['First Name'] + ' ' + csv['Last Name']
csv['Address'] = csv['Address 1'] + ' ' + csv['Address 2'] + ' ' + csv['City'] + ', ' + csv['Locale'] + ' ' + csv['Postal Code'] + ' ' + csv['Country']

csv.reset_index().pivot_table(values='Product Quantity', 
                              index=csv[['Order #','Shipping Status','Date']], 
                              columns=['Product Name'], 
                              aggfunc='first').reset_index()

Product Name,Order #,Shipping Status,Date,30 Seconds To Zero: The Crusader Collection,"Collected Works of the Black Liberation Army, Vol. I",On Organizing Urban Guerilla Units by Field Marshall Don Cox,"Reflections on Victor Serge's ""What Everyone Should Know About State Repression"" by James Yaki Sayles","The Power of the People is the Force of Life, a political statement by the George Jackson Brigade"
0,21429567,Shipped,01/01/2023 11:37:02 AM,1.0,NaN,NaN,1.0,1.0
1,21437570,Shipped,01/11/2023 8:15:52 PM,NaN,NaN,4.0,NaN,NaN
2,21445305,Shipped,01/23/2023 10:43:22 PM,4.0,NaN,4.0,NaN,4.0
3,21454456,Open,02/08/2023 2:44:34 PM,NaN,1.0,NaN,NaN,NaN
4,21454532,Open,02/08/2023 5:37:11 PM,NaN,1.0,NaN,NaN,1.0
5,21454536,Open,02/08/2023 5:55:58 PM,NaN,1.0,NaN,NaN,NaN
6,21454545,Open,02/08/2023 6:06:59 PM,NaN,1.0,NaN,NaN,NaN
7,21454564,Open,02/08/2023 7:07:07 PM,NaN,1.0,NaN,NaN,NaN
8,21454568,Open,02/08/2023 7:21:11 PM,NaN,1.0,NaN,NaN,NaN
9,21454629,Open,02/08/2023 9:58:52 PM,NaN,1.0,NaN,NaN,NaN
10,21454648,Open,02/08/2023 10:54:52 PM,1.0,1.0,NaN,NaN,NaN
11,21454653,Open,02/08/2023 11:04:03 PM,NaN,3.0,NaN,NaN,NaN
12,21454702,Open,02/09/2023 2:28:24 AM,NaN,1.0,NaN,NaN,NaN
13,21454704,Open,02/09/2023 2:38:14 AM,NaN,1.0,1.0,NaN,NaN
14,21454975,Open,02/09/2023 3:33:13 PM,NaN,1.0,NaN,NaN,NaN
15,21454979,Open,02/09/2023 3:59:59 PM,NaN,1.0,NaN,NaN,NaN
16,21455324,Open,02/10/2023 5:20:00 AM,NaN,1.0,1.0,NaN,NaN
17,21455662,Open,02/10/2023 3:23:40 PM,NaN,1.0,NaN,NaN,1.0
18,21456051,Open,02/11/2023 8:44:37 AM,NaN,1.0,NaN,NaN,NaN
19,21457265,Open,02/13/2023 6:07:54 PM,NaN,1.0,NaN,NaN,NaN
20,21458026,Open,02/14/2023 11:50:26 PM,NaN,1.0,NaN,NaN,NaN
21,21458209,Open,02/15/2023 12:38:29 PM,NaN,1.0,NaN,NaN,NaN
22,21458615,Open,02/15/2023 5:28:00 PM,NaN,1.0,NaN,NaN,NaN
23,21458700,Open,02/15/2023 6:38:38 PM,NaN,1.0,NaN,NaN,NaN
24,21458748,Open,02/15/2023 7:13:13 PM,NaN,1.0,NaN,NaN,NaN
25,21458755,Open,02/15/2023 7:16:22 PM,NaN,1.0,NaN,NaN,NaN
26,21458759,Open,02/15/2023 7:20:55 PM,NaN,1.0,NaN,NaN,NaN
27,21458776,Open,02/15/2023 7:31:29 PM,NaN,1.0,NaN,NaN,NaN
28,21458790,Open,02/15/2023 7:47:17 PM,NaN,1.0,NaN,NaN,NaN
29,21458939,Open,02/15/2023 10:36:53 PM,1.0,1.0,1.0,1.0,1.0
30,21458953,Open,02/15/2023 11:03:22 PM,NaN,1.0,NaN,NaN,NaN
31,21458980,Open,02/15/2023 11:24:53 PM,NaN,1.0,NaN,NaN,NaN
32,21458993,Open,02/15/2023 11:45:13 PM,NaN,1.0,NaN,NaN,NaN
33,21459020,Open,02/16/2023 1:25:09 AM,NaN,1.0,NaN,NaN,NaN
34,21459039,Open,02/16/2023 2:22:40 AM,NaN,NaN,1.0,NaN,NaN
35,21459081,Open,02/16/2023 6:17:27 AM,NaN,1.0,NaN,NaN,NaN
36,21459101,Open,02/16/2023 7:41:35 AM,NaN,1.0,NaN,NaN,NaN
37,21459387,Open,02/16/2023 12:30:35 PM,NaN,1.0,NaN,NaN,NaN
38,21459502,Open,02/16/2023 2:59:48 PM,NaN,1.0,NaN,NaN,NaN
39,21459593,Open,02/16/2023 4:49:43 PM,1.0,1.0,1.0,1.0,1.0
40,21459659,Open,02/16/2023 6:47:55 PM,NaN,1.0,NaN,NaN,NaN
41,21459720,Open,02/16/2023 7:34:38 PM,NaN,NaN,1.0,1.0,NaN
42,21459760,Open,02/16/2023 8:49:51 PM,NaN,1.0,NaN,NaN,NaN
43,21459794,Open,02/16/2023 10:03:45 PM,NaN,1.0,NaN,NaN,NaN
44,21459815,Open,02/16/2023 10:46:06 PM,NaN,1.0,NaN,NaN,NaN
45,21459816,Open,02/16/2023 10:48:47 PM,NaN,1.0,NaN,NaN,NaN
46,21459959,Open,02/17/2023 8:11:40 AM,NaN,1.0,NaN,NaN,NaN
47,21459976,Open,02/17/2023 8:54:11 AM,NaN,1.0,NaN,NaN,NaN
48,21460000,Open,02/17/2023 9:53:05 AM,NaN,1.0,NaN,NaN,NaN
49,21460223,Open,02/17/2023 3:47:35 PM,1.0,1.0,1.0,NaN,NaN
50,21460227,Open,02/17/2023 3:52:21 PM,NaN,1.0,NaN,NaN,NaN
51,21460270,Open,02/17/2023 4:53:36 PM,NaN,1.0,NaN,NaN,NaN
52,21460287,Open,02/17/2023 5:15:59 PM,NaN,1.0,NaN,NaN,NaN
53,21460314,Open,02/17/2023 5:54:59 PM,NaN,1.0,NaN,NaN,NaN

In [58]:
csv['Order #'].nunique()

56